/*
	Property Overview Page
*/
.wpp_overview  .column-thumbnail a.fancybox img {
border:4px solid #D9D9D9;
}

.cb {
	clear:both;
}

.wpp_class_pre {
	background:none repeat scroll 0 0 #F4F9BC;
	border:2px solid #D6D9C1;
	color:black;
	font-size:12px;
	height:600px;
	margin-top:17px;
	overflow:scroll;
	width:100%;
}

.wpp_save_changes_row {
	clear: both;
	margin-top: 15px;
}

#wpp_settings_tabs  ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #CBCBCB;
 	width: 100%;
}
#wpp_settings_tabs  ul.tabs li {
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background:none repeat scroll 0 0 #F4F4F4;
border-color:#D0D0D0 #D0D0D0 -moz-use-text-color;
border-style:solid solid none;
border-width:1px 1px 0;
float:left;
height:25px;
line-height:23px;
margin:0 10px -1px 0;
overflow:hidden;
padding:3px;
position:relative;

-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
 
border-top-left-radius: 5px;
border-top-right-radius: 5px;	
}
#wpp_settings_tabs  ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.1em;
	padding: 0 20px;
	outline: none;
	
}
#wpp_settings_tabs  ul.tabs li a:hover {
	color: #9D611D;
}	

#wpp_settings_tabs  ul.tabs li.ui-tabs-selected  {
	background:none repeat scroll 0 0 #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}	
#wpp_settings_tabs  ul.tabs li.ui-tabs-selected a:hover  {
	background:#FFFFFF;
	border-bottom:1px solid #FFFFFF;
}	


html #wpp_settings_tabs  ul.tabs li.active, html #wpp_settings_tabs  ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}

#wpp_settings_tabs  .ui-tabs-panel table {
	margin: 10px;
}

#wpp_settings_tabs  .ui-tabs-panel {

border-right:1px solid #DEDEDE;
border-style:none solid solid;
border-width:medium 1px 1px;
clear:both;
float:left;
width: 100%;
padding-bottom: 20px;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	 background:none repeat scroll 0 0 #FFFFFF;
border-color:-moz-use-text-color #DEDEDE #DEDEDE;
}
#wpp_settings_tabs  .wpp_inner_tab {
	padding: 20px;
	font-size: 1.2em;
}


#wpp_settings_tabs .ui-tabs-hide {
	display:none !important;;
}


 
#wpp_settings_tabs ul.navigation {
	list-style-type:none;
}
	
#wpp_settings_tabs ul.navigation li {
	display:block;
	padding: 10px;
}

#wpp_settings_tabs .wpp_permanent_image {
background:none repeat scroll 0 0 #F5F5F5;
border:1px solid #B4B4B4;
font-size:12px;
line-height:15px;
padding:2px 1px 3px 6px;
width:136px;
}



.wpp_link {
	cursor: pointer;
	text-decoration: underline;
	color: #21759B;
}

.wpp_link:hover {
	color: #D54E21;
}


#property_meta.wpp_link {
	color: #21759B;
	text-decoration: underline;
	cursor: pointer;
}

.wpp_prefill_values {
	padding-top: 5px;
	float: right;
	display: block;
}
.wpp_prefill_values .wpp_prefill_attribute {
	display:none;
	padding: 6px;
	margin: 0 5px 5px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	border: 1px solid #D6D6D6;
	background: #EFEFEF;
	color: #000;
	cursor: pointer;
	float: left;

}

.misc-pub-section-last {
	display:none;
}

#property_meta input.text-input {
	
}

#property_meta .inside {
	margin: 0;
}

#property_meta .inside .widefat{
	border: 0;
	
 }
#property_meta .inside .widefat th{
	width: 150px;
	background: #E1E1E1;
	vertical-align: top;
	padding-left: 15px;
}
#property_meta .inside .widefat td{
	border-bottom: 1px solid #EFEFEF;
}


#property_meta .inside .widefat textarea{
	width: 100%;
}

#property_meta .inside .widefat .description{
 	display: block;
	padding: 5px 0 5px 0;
}

#property_meta .inside .widefat input{
	width: 200px;
}

#property_meta .inside .widefat #wpp_meta_location {
	width: 400px;
}	

#property_meta .inside .widefat option {
	padding-right: 15px;
}	
#property_meta .inside .widefat #wpp_meta_price  {
	width: 75px;
}	

 
.disabled_message {
	display: none;
}

.disabled_row, .disabled_row th, .disabled_row td{
	background: #EFEFEF !important;
}
.disabled_row *{
	cursor: default;
	color: #BFBFBF;
	border: #CFCFCF;
}

.disabled_row .description, .disabled_row .wpp_prefill_values, .disabled_row .wpp_prefill_attribute, .disabled_row input, .disabled_row textarea, .disabled_row select{
	display: none !important;
}


.disabled_row .disabled_message{
 
color:#BFBFBF;
display:inline;
float:left;
font-size:1.1em;
letter-spacing:1px;
margin-top:1px;
padding:4px 4px 4px 8px;
width:auto;
 
}

#wpp_settings_tabs #wpp_plugins_ajax_response {
background:none repeat scroll 0 0 #FFFFAA;
border:1px solid #B6B7B1;
margin:5px 0;
padding:5px 10px;
}


 {
	width: 95%;
	margin: 0 auto;
}

 td.wpp_premium_feature_intro {
	padding-top: 30px;
	border-bottom: 1px solid #CCCCCC;
	font-size: 1.3em;
	font: normal;
}

 td.wpp_premium_feature_intro .header{
	font-size:18px;
	font-weight:bold;
}


 tr.wpp_premium_feature_block {
	
}

 td.wpp_premium_feature_image {
	width: 250px;
}

 .wpp_premium_feature_image img {
	padding: 20px 10px 20px 20px;
}

 .wpp_box {
	background: #EEEEEE;
 	border:1px solid #DDDDDD;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-bottom: 15px;
} 

#wpp_premium_feature_table .wpp_box {
 	margin: 20px;
}


 .wpp_box_header strong{
	font-weight: strong;
	margin-bottom: 10px;
	display: block;
	color: #000;
}
 .wpp_box_header p{
	margin: 0;
	font-size: 11px;
}

 .wpp_box_header {
border-bottom:3px solid #E4E4E4;
padding:7px 0 10px 11px;}

 .wpp_box_content {
	padding: 10px;
	background: #FFF;
	line-height: 1.2em;
}
 .wpp_box_footer {
	padding: 10px;
 
}

