/*  
	Theme-specific styles are introduced in WP-Property 1.08.
	In order to avoid breaking existing sites, not all TwentyTen theme elements are transfered here yet.
	
	Version: 0.5
 */
 
.wpp_row_view .wpp_overview_right_column { 
	width: 99%;
}

ul.wpp_overview_data {
	margin-left: 10px;
	margin-top: 5px;
}

div.wpp_google_maps_attribute_row_property_title {
	border-bottom: 0;
}

.entry-content dl.overview_stats dt {
	padding-left: 10px;
}

#content .shortcode_featured_properties ul li dt, #content .big_featured_property ul li dd {
    
}

.wpp_featured_properties_shortcode li.wp-caption {
	margin-right: 5px;
}

#primary div.property_widget_block ul.wpp_widget_attribute_list {
	margin-left: 0;
}