#container.floorplan_container {
	margin: 0 -270px 0 0;
}
#container.floorplan_container #content{
	margin: 0 300px 0 20px
}

#container.building_container {
	margin: 0 -270px 0 0;
}
#container.building_container #content{
	margin: 0 300px 0 20px
}

#primary .widget_searchpropertieswidget {  }

#primary.wpp_sidebar_building {
	width: 265px;
  }
 #primary.wpp_sidebar_floorplan {
	width: 265px;
  }
 
 
	#primary .widget_searchpropertieswidget .wpp_search_elements {
		clear: both;
		list-style-type: none;
		margin: 0; }
 
		#primary .widget_searchpropertieswidget .wpp_search_elements li { text-align: left; }
 
		#primary .widget_searchpropertieswidget .wpp_search_elements .search_input_block { float: left; }
 
			#primary .widget_searchpropertieswidget .wpp_search_elements .search_input_block input { width: 50px; }
 
		#primary .widget_searchpropertieswidget .wpp_search_elements li .wpp_search_button {  }
 
		#primary .widget_searchpropertieswidget .wpp_search_elements li label {
			float: left;
			width: 70px; }
 
#primary .widget_gallerypropertieswidget br { display: none !important; }
 
#primary .widget_gallerypropertieswidget  {
	float: left;
	margin: 0;
	padding: 0; }
 
	#primary .widget_gallerypropertieswidget  img {
		border: 5px solid #DFDFDF;
		margin: 0 9px 9px 0; }
 
.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden; }
 
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
 
* html .clearfix { height: 1%; }
 
#property_stats.overview_stats {
	border-top: 1px dashed #CFCBCB;
	clear: both;
	margin-bottom: 15px; }
 
	#property_stats.overview_stats dt, #property_stats.overview_stats dd {
		display: block;
		margin-bottom: 0;
		padding-bottom: 10px;
		padding-top: 10px; }
 
	#property_stats.overview_stats dt {
		clear: left;
		float: left;
		font-weight: bold;
		width: 140px; }
 
	#property_stats.overview_stats dd {
		border-bottom: 1px dashed #CFCBCB;
		padding-left: 26px; }
 
#content #property_map table {
	border: 0;
	font-size: 11px;
	margin: 0; }
 
	#content #property_map table td {
		border: 0;
		margin: 0;
		padding: 0;
		vertical-align: top; }
 
#primary .sidebar_property_thumbnail  img {
	border: 5px solid #DFDFDF;
	float: left;
	margin-top: 5px;
	margin: 0 9px 9px 0; }
 
#primary .widget_childpropertieswidget .apartment_entry {
	background: none repeat scroll 0 0 #FFFFFF;
	clear: both;
	margin-bottom: 10px; }
 
	#primary .widget_childpropertieswidget .apartment_entry ul {
		float: left;
		margin-left: 0px;
		margin-right: 0;
		padding-top: 0;
		width: 100%;
		position: relative; }
 
#primary .widget_childpropertieswidget .sidebar_floorplan_status li {
	border-bottom: 1px dashed #CDCDCD;
	color: #434141;
	display: block;
	padding: 2px 0;
	width: 100%; }
 
#primary .widget_childpropertieswidget  .sidebar_floorplan_status li span { color: #A3A2A2; }
 
/*
	Featured Properties Widget
*/
#primary .widget_featuredpropertieswidget .apartment_entry {
	background: none repeat scroll 0 0 #FFFFFF;
	clear: both;
	margin-bottom: 10px; }
	
	#primary .widget_featuredpropertieswidget img {
	margin-right: 5px;
	}
 
	#primary .widget_featuredpropertieswidget .apartment_entry ul {
		margin-left: 0px;
		margin-right: 0;
		padding-top: 0;
	 }
 
#primary .widget_featuredpropertieswidget .sidebar_floorplan_status li {
	border-bottom: 1px dashed #CDCDCD;
	color: #434141;
	display: block;
	padding: 2px 0;
	width: 100%; }
 
#primary .widget_featuredpropertieswidget  .sidebar_floorplan_status li span { color: #A3A2A2; }
 
/*
	Property Results View
*/
.wpp_row_view { margin-top: 10px; }
 
	.wpp_row_view .property_div {
		-khtml-border-radius: 5px;
		-moz-border-radius: 5px;
		-moz-box-shadow: 0px 1px 5px #8F8F8F;
		-webkit-border-radius: 5px;
		-webkit-box-shadow: 0px 1px 5px #8F8F8F;
		background: #FFF;
		box-shadow: 0px 1px 5px #8F8F8F;
		margin-bottom: 10px;
		padding: 10px;
		position: relative;
		width: 100%; }
 
	.wpp_row_view .child_properties {
		clear: both;
		display: block;
		margin-right: 10px;
		padding-top: 15px; }
 
		.wpp_row_view .child_properties * { vertical-align: middle; }
 
		.wpp_row_view .child_properties .property_child_title {
			padding: 5px 10px 5px 5px;
			text-align: left;
			width: 150px; }
 
			.wpp_row_view .child_properties .property_child_title a {
				color: #707070;
				font-weight: normal; }
 
				.wpp_row_view .child_properties .property_child_title a:hover {
					color: orange;
					text-decoration: underline; }
 
	.wpp_row_view .property_image {
		float: left;
		position: absolute;
		margin-right: 10px; }
 
		.wpp_row_view .property_image .vertical { display: none; }
 
		.wpp_row_view .property_image .property_overview_thumb {
			background: none repeat scroll 0 0 #EFEFEF;
			color: black;
			display: table-cell;
			text-align: center;
			text-decoration: none;
			vertical-align: middle; }
 
	.wpp_row_view .top_row {
		float: left;
		position: relative;
		width: 460px; }
 
		.wpp_row_view .top_row span { display: block; }
 
		.wpp_row_view .top_row .property_title {  }
 
			.wpp_row_view .top_row .property_title a {
				color: #9C1209;
				text-decoration: none; }
 
		.wpp_row_view .top_row .property_tagline {
			font-size: 1.7em;
			margin-bottom: 15px; }
 
		.wpp_row_view .top_row .property_phone_number {
			background: url("images/phone_address.gif") no-repeat scroll left top transparent;
			color: #666363;
			display: block;
			font-size: 18px;
			height: 25px;
			padding-left: 30px;
			text-decoration: none; }
 
		.wpp_row_view .top_row .property_address {
			color: #666363;
			display: table;
			font-size: 15px;
			height: 25px;
			margin-left: 30px;
			text-decoration: none; }
 
			.wpp_row_view .top_row .property_address a {
				color: inherit;
				display: block;
				padding-top: 6px;
				text-decoration: none; }
 
				.wpp_row_view .top_row .property_address a:hover {
					color: orange;
					text-decoration: underline; }
 
		.wpp_row_view .top_row .property_tagline .tagline {
			color: #525252;
			font-family: arial;
			font-size: 14px;
			font-weight: bold;
			line-height: 1.3em;
			margin-top: 9px;
			width: 350px; }
 
	.wpp_row_view .wpd_floorplans_title {
		font-size: 0.9em;
		font-weight: bold;
		padding-bottom: 5px; }
 
	.wpp_row_view .stats { display: none; }
 
	.wpp_row_view .child_properties table {
		magin-top: 15px;
		margin: 0;
		padding: 0;
		width: 100%; }
 
		.wpp_row_view .child_properties table * {
			margin: 0;
			padding: 0; }
 
		.wpp_row_view .child_properties table td, .wpp_row_view .child_properties table th { border-top: 1px dashed #CDCDCD; }
